.buttonItem {
  margin-top: var(--spacing-l);
}
.hidden {
  display: none;
}
.buttonList {
  display: flex;
  flex-direction: column;
}

.tooltipSpan {
  visibility: hidden;
  width: 100%;
  background-color: #f8f8f8;
  color: #333;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s linear 4s;
  opacity: 0;
  transform: translateX(-50%) translateY(-10px);
  z-index: 10;
}

.tooltipBox {
  position: relative;
  display: inline-block;
  margin-top: 10px;
  font-size: 14px;
  color: #666;
  z-index: 10;
}

.assetItem:hover + .tooltipBox .tooltipSpan,
.tooltipBox:hover .tooltipSpan,
.tooltipSpan:hover {
  visibility: visible;
  opacity: 1;
  transform: translateX(-50%) translateY(0);
  transition-delay: 0s;
}

.assetItem {
  position: relative;
}

.modelSelectorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--spacing-l);
  width: 100%;
  gap: var(--spacing-l);
}

.modelSelector {
  display: block;
  text-align: center;
  font-size: var(--font-size-l);
  width: 100%;
}